.cart-list .list-group-item + .list-group-item, 
.wishlist-list .list-group-item + .list-group-item{
  border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.cart-remove{
  color: #fb641c;
  cursor: pointer;
}

@media screen and (max-width: 767px){
  .cart-img{
    margin-bottom: 1rem;
  }
} 